---
layout: default
title: About me
---
<div class="grid grid-cols-1 h-screen md:grid-cols-2">
    <div class="grid grid-cols-5">
        <div class="grid grid-cols-1 relative h-full overflow-hidden bg-neutral-500 md:h-screen">
        </div>
        <div class="grid grid-cols-1 relative h-full overflow-hidden bg-neutral-400 md:h-screen">
        </div>
        <div class="grid grid-cols-1 relative h-full overflow-hidden bg-neutral-300 md:h-screen">
        </div>
        <div class="grid grid-cols-1 relative h-full overflow-hidden bg-neutral-200 md:h-screen">
        </div>
        <div class="grid grid-cols-1 relative h-full overflow-hidden bg-neutral-100 md:h-screen">
        </div>
    </div>
    <div class="h-full grid p-4 bg-white md:h-screen md:p-8">
        <div>
            {% include nav.html %}
        </div>
        <div class="grid grid-cols-1 h-full content-center">
            <div class="flex flex-col gap-4 xl:flex-row xl:gap-9">
                <div class="flex flex-1 flex-col gap-2">
                    <h1>Howdy, I'm Danny</h1>
                    <p>I'm an artist, a tinkerer, list-maker, hyphen-enjoyer, occasional project-finisher, and unintentional thing-breaker. These projects are things I've made, tried making, am currently making, thinking about making, or might never actually make.</p>
                    <p>This site is not just a non-exhaustive index of possible creative making-states but also a nudge toward rejecting the ever-present urge to make it perfect.</p>
                    <p>It's an open invitation to anyone, but mostly me let's be real, to get more comfortable sharing the messy bits of creating — the dead-ends, the offcuts, and any and all works-in-progress.</p>
                </div>
                <div id="page-text" class="grid flex-1 gap-2">
                    <h2>A brief disclaimer</h2>
                    <p>All of the content presented here, with some clearly-labelled exceptions, have been created by a human.</p>
                    <p>It's me. The human is me.</p>
                    <p>I have used and may continue to use AI to get electronics and development projects into a protoytpe stage. For instance, I had Claude write some of the javascript features of the site so I could learn from a specific working example.</p>
                    <p>As an artist and a creative person I have oh so many existential qualms and concerns about AI. Ultimately I'm here to experiment and learn new skills. Sometimes AI tools help me do that, but I figured you ought to know.</p>
                    <p>All the em-dashes are mine though.</p>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
</div>
