<nav>
    <div class="flex basis-full">
        <div class="flex flex-1">
                <p class="text-neutral-500">{{ page.title }}</p>
        </div>
        <div>
            <div class="flex flex-1 gap-4">
                {% for link in site.data.links %}
                <a href="{{ link.url | relative_url }}">                   
                    <p class="flex text-neutral-500 {% if page.title == link.title %}underline{% endif %}">{{ link.title }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>