<nav>
    <div class="flex basis-full">
            <div class="flex flex-1">
                    <p class="text-neutral-500"><a href="/work">
                    Work
                    </a></p>
            </div>
            <div>
                <div class="flex flex-1 gap-4">
                    <p class="flex text-neutral-500"><a href="/about">
                        About
                        </a></p>
                     
                        <p class="flex justify-end text-neutral-500"><a href="/contact">
                        Contact
                        </a></p>
                </div>
            </div>
</div>
</nav>